body{
  min-width: 300px;
  margin-bottom: 30px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
}
.error{
  font-size: 20px;
}

.top-h{
  background-image: url("../img/logo-t.png");
  background-repeat: no-repeat; /* 繰り返し表示オフ */
  padding: 5px 0px 0px 40px;
  margin-top: 10px;
}

.row{
  margin-left: 0px;
}